html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #E9EDEE;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    padding:35px;
}
.blu{
    background-color: #222F3E;
}
header img {
    width: 150px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}
nav {
    background-color: #364759;
   padding-top: 1px;
   padding-bottom: 1px;
}

ul li {
    display:inline;
    margin: 10px;
    font-size: 20px;
    color:white;
}

.arancione {
    background-color: #F56600;
    text-align: center;
    color:white;
    padding-top: 2px;
    padding-bottom:2px;
    margin-top: 30px;
}

.verde {
    background-image: url('../images/bg-image.png');
    background-size: cover;
    color:white;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
}
h1 {
    font-size: 1.5 vw;
}
p {
    font-size:25px;
}

section {
    background-color: white;
    
}
.articoli {
    padding-bottom: 20px;
}
.articoli p {
    padding-left: 10px;
    padding-top: 10px;
}

.cards {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 25px;

}

 .imgcards {
    width: 18vw;
    height: 20vw;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.751)
}
.immagine1 {
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    background-color: #222F3E;
}
p span {
    font-size: 0.9em;
    color: #027286;
    font-weight: bold;
}

.foto1 {
    margin-top: 30px;
}
.foto1 p {
    text-align: center;
}

.didascalia {
    text-align: center;
}
.footer {
    background-color: #364759;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer a {
    font-weight: bold;
    color:white;
}
.imgfooter {
    width: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
}
